* {
    margin: 0px;
   padding: 0px;
}

a{
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #181A1B;
}

#header {
    background-color: #FFA630;
    text-align: center; 
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 5px;
    width: 100%;
}

.recipe {
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 0px solid #000000;
    background-color: #FFA630;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    height: 100%;
    width: 350px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    text-align: center;
}

.recipe-image {
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 0px solid #000000;
}

.recipe-name {
    color: #000000;
    text-decoration: none;
}

